.bg-login-imagen {
    background: url("https://i.discogs.com/JvXpAAERE19zXnCA7O4LqeLSFhpRaezgkNspxAB_nik/rs:fit/g:sm/q:90/h:596/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEyOTAx/MDMtMTQ1NDcyMjgw/Mi00Njc3LmpwZWc.jpeg");
    background-position: center;
    background-size: cover;
  }
  .bg-register-imagen {
    background: url("https://i.discogs.com/QwfaGCx3ELl-_A13E4NsLAPDYLSSa5Bv2G4rLovL_c4/rs:fit/g:sm/q:90/h:400/w:400/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTExMjMw/NjktMTIzOTczMjE3/Ni5naWY.jpeg");
    background-position: center;
    background-size: cover;
  }
  .bg-restore-imagen {
    background: url("https://i.discogs.com/2Th2WabUNtp-UTccKtD3BmhtoERnqmsXq1uQeJG4A2k/rs:fit/g:sm/q:90/h:590/w:595/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEzODM5/ODA2LTE1NjIzMDgy/NzctNDI2Ny5qcGVn.jpeg");
    background-position: center;
    background-size: cover;
  }
  .bg-password-imagen {
    background: url("https://i.discogs.com/M2yc5OJZPdVoDm2_UlRRXuDlDguamLLSdnbziNmZoQI/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDc0/MjQtMTYzMDYwMTA4/Ny0xMTk5LmpwZWc.jpeg");
    background-position: center;
    background-size: cover;
  }

  .bg-profile-bg {
    background: url("https://pbs.twimg.com/media/E2dqDjSXoAIX5px.jpg");
    background-position: center;
    background-size: cover;
    /* width: 600px;
    height: 800px; */
  }

  .bg-profile-imagen {
    background: url("https://i.discogs.com/hhglIlqjAr4WxIg4tQkLfHZ0aHrFqWIjVElG_JjQ4fY/rs:fit/g:sm/q:90/h:599/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTQ3MDkx/NC0xMjM2ODc2ODU1/LmpwZWc.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    width: 300px;
    height: 240px;
    
  }
  .bg-hero {
    background: url("https://www.semfyc.es/wp-content/uploads/2019/03/BANNER-VINYL-MUSIC-SEMFYC.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    background-position-y: 100%;
    width: 600px;
    height: 200px;
    
  }
  form.user .form-control-user-custom {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.4rem 1rem;
  }

